selenium
PyYAML
tldextract
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
oauth2client
openai
bs4
opencv-python-headless
numpy
mutagen
ffmpeg-python
pydub
elevenlabs
praw
newsapi-python